In [6]:
import numpy as np #넘파일 사용할때 np라는 이름으로 많이 사용(관례)

#numpy로 2차원 배열 만들기

a = np.array([[2, 3], [5, 2]])
print(a)
print(type(a))

#이중화리스트 만들기
a = ([[2, 3], [5, 2]])
print(a)
print(type(a))

[[2 3]
 [5 2]]
<class 'numpy.ndarray'>
[[2, 3], [5, 2]]
<class 'list'>

In [7]:
#넘파이 배열 슬라이싱 하기 -> 리스트 슬라이싱과 같음
d = np.array([[1,2,3,4,5], [2,4,5,6,7], [5,7,8,9,9]]) #
print(d[0][1]) #2
print(d[1:, 3:]) # 2행과 3열까지의 모든 배열을 가지고 온다

2
[[6 7]
 [9 9]]

In [11]:
#배열이 크기 알아내는 shape함수
d = np.array([2,3,4,5,6])
print(d.shape)
e = np.array([[1,2,3,4], [3,4,5,6]])
print(e.shape)
f = np.array([[0.1,0.2,0.3], [.2,.3,.4]])
print(f.shape)

(5,)
(2, 4)
(2, 3)

In [12]:
#배열의 원소 유형 확인하는 dtype함수
print(d.dtype)
print(e.dtype)
print(f.dtype)

int32
int32
float64

In [13]:
#배열의 유형 바꾸는 astype함수
data = np.arange(1, 5) #1~4까지 이루어지는 배열 생성
print(data)
print(data.dtype)
print(data.astype('float64'))#기존 int32로된 원소들을 float64 타입을 변경
print(data.astype('int32'))#기존 int32로된 원소들을 float64 타입을 변경

[1 2 3 4]
int32
[1. 2. 3. 4.]
[1 2 3 4]

In [15]:
#0으로 이뤄진 배열 만드는 zeros함수
h = np.zeros((2, 10)) #2*10배열의 0으로 채워짐
print(h)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [17]:
#1로 이뤄진 배열 만드는 ones함수
h = np.ones((2, 10)) #2*10배열의 0으로 채워짐
print(h)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [ ]:
#연속형 정수 생성하는 arrange함수
np.arange(2, 10) #2~9까지 이루어지는 배열 생성

In [18]:
#행과 열을 바꿔주는 transpose함수
a = np.ones((2,3)) 
print(a)  #2*3 
b = np.transpose(a)
print(b) #3*2

[[1. 1. 1.]
 [1. 1. 1.]]
[[1. 1.]
 [1. 1.]
 [1. 1.]]

In [20]:
#배열의 사칙연산(+,-,*,/)
# 1. 배열의 크기가 같은 경우
arr1 = np.array([[2,3,4], [6,7,8]])
arr2 = np.array([[12,13,14], [36,47,58]])

print(arr1 + arr2)
print(arr1 - arr2)
print(arr1 * arr2)
print(arr1 / arr2)

[[14 16 18]
 [42 54 66]]
[[-10 -10 -10]
 [-30 -40 -50]]
[[ 24  39  56]
 [216 329 464]]
[[0.16666667 0.23076923 0.28571429]
 [0.16666667 0.14893617 0.13793103]]

In [23]:
# 2. 배열의 크기가 다른 경우
arr3 = np.array([100, 200, 300]) #1차원배열 스웩 (1*3)
print(arr1 + arr3) #브로드캐스팅 되는 경우 == [[2,3,4], [6,7,8]] + [[2,3,4], [6,7,8]] + [100, 200, 300], [100, 200, 300]

#브로드캐스팅이 안되는 경우
#arr4 = np.array([1,2,3,4,5,6,7,8,9,10]) #1차원배열 (10개의 열)
#print(arr1 + arr4)

arr5 = np.array([[9],[3]]) #2차원 배열(2*1)
#arr1 2차원 2*3 배열
print(arr1 + arr5) #[[2,3,4], [6,7,8]] + [[9],[3]]

[[102 203 304]
 [106 207 308]]
[[11 12 13]
 [ 9 10 11]]

In [24]:
d_list = [[1,2,3,4], [2,3,4,5], [3,4,5,6]]
#d_list 리스트 자료형에서 2행부터 전부 0으로 초기화
#d_list[:2] = 0 #리스트 자료형에서는 0으로 쉽게 대입이 불가능
d = np.array(d_list)
d[:2] = 0
print(d)

[[0 0 0 0]
 [0 0 0 0]
 [3 4 5 6]]

In [41]:
#설문지 데이터(quest.csv) 전처리하기
import os, usecsv
import numpy as np

print(os.getcwd())
os.chdir(r'D:\human-edu1\python-data-analysis1\240627')

quest_csv = usecsv.opencsv('quest.csv') # quest.csv파일 read
print(type(quest_csv))
print(type(quest_csv[0][0]))

quest_csv = usecsv.switch(quest_csv)
print(type(quest_csv[0][0]))

quest_np = np.array(quest_csv)
print(quest_np)

#넘파이 객체의 원소에서 5보다 큰 원소들의 값은 True로 변경하고 아니면 false
print(quest_np > 5)
print(quest_np[quest_np > 5]) #quest_np의 언덱싱을 활용해서 5보다 큰 수만 가져오기
#print(quest_np)

#quest_np2 = quest_np > 5
#print(quest_np[quest_np2])

quest_np[quest_np > 5] = 5 #quest_np 5보다 큰 값은 5로 세팅
print(quest_np)

#csv파일로 output하기
usecsv.writecsv('quest_resultcsv.csv', quest_np.astype('int32'))

D:\human-edu1\python-data-analysis1\240627
<class 'list'>
<class 'str'>
<class 'float'>
[[1. 2. 1. 2. 2.]
 [1. 3. 2. 3. 2.]
 [1. 4. 3. 3. 3.]
 [2. 5. 4. 4. 4.]
 [2. 5. 6. 2. 5.]
 [3. 6. 4. 2. 5.]
 [3. 5. 4. 1. 6.]
 [3. 5. 5. 1. 3.]]
[[False False False False False]
 [False False False False False]
 [False False False False False]
 [False False False False False]
 [False False  True False False]
 [False  True False False False]
 [False False False False  True]
 [False False False False False]]
[6. 6. 6.]
[[1. 2. 1. 2. 2.]
 [1. 3. 2. 3. 2.]
 [1. 4. 3. 3. 3.]
 [2. 5. 4. 4. 4.]
 [2. 5. 5. 2. 5.]
 [3. 5. 4. 2. 5.]
 [3. 5. 4. 1. 5.]
 [3. 5. 5. 1. 3.]]

In [43]:
discount = .05  #할인율 5%
cashflow = 100  #단위는 억

In [42]:
#자본의현재가치 구하는 함수 -> n이 커질수록(사업기간이 길면 길수록 현재가치는 떨어짐)
def prsent_value(n):     #n은 연차(총 사업기간(년))
    return cashflow / ((1 + discount) ** n)

In [44]:
print(prsent_value(1))
print(prsent_value(2))

95.23809523809524
90.70294784580499

In [46]:
#놀이공원 사업의 사업성 분석(필요시 패키지는 numpy_financial)
!pip install numpy_financial

Requirement already satisfied: numpy_financial in c:\users\chltn\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in c:\users\chltn\anaconda3\lib\site-packages (from numpy_financial) (1.26.4)

In [48]:
loss = [-750]         # 단위는 억 원
profit = [100] * 10   # 단위는 억 원
print(profit)

cf = loss + profit # 리스트끼리의 '+'는 insert or append개념
print(cf)

cashflow = np.array(cf)

import numpy_financial as npf  # 순현재가치와 내부수익률 함수를 사용하기 위한 파이썬 패키지 로드

#npf.npv(할인률, 현금흐름) -> 순현재가치(npv)\n",
#npf.irr(현금흐름) -> 내부수익률(irr)
    
#여기서 할인률은 4.5%으로 가정하고 계산
npv = npf.npv(0.045, cashflow) 
irr = npf.irr(cashflow) 
    
print(npv) # 순현재가치는 41.3억원
print(irr) # 내부수익률 5.6%

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
[-750, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
41.27181771101688
0.05604463645158875

In [52]:
#판다스(pandas)의 데이터프레임 사용하기
import pandas as pd

#임의의 딕셔너리 데이터
pandas = {
    'name': ['Mark', 'Jane', 'Chris', 'Ryan'],
    'age': [33, 32, 44, 42],
    'score': [91.3, 83.4, 77.5, 87.7],
}
df = pd.DataFrame(pandas)
df

    name  age  score
0   Mark   33   91.3
1   Jane   32   83.4
2  Chris   44   77.5
3   Ryan   42   87.7

In [55]:
#판다스 데이터 프레임 사용 함수들
#(1) sum함수
print(df.sum())
#(2) mean함수
print(df.mean(numeric_only=True))  #'mean'속성은 mean함수에서 제외
#(3) min, max 함수 -> 가장 작은 혹은 큰 값의 데이터를 보여주기
print(df.min())

name     MarkJaneChrisRyan
age                    151
score                339.9
dtype: object
age      37.750
score    84.975
dtype: float64
name     Chris
age         32
score     77.5
dtype: object

In [57]:
print(df.age) #age 데이터 출력

print(df['age'], df['score']) # age, score의 데이터 출력

0    33
1    32
2    44
3    42
Name: age, dtype: int64
0    33
1    32
2    44
3    42
Name: age, dtype: int64 0    91.3
1    83.4
2    77.5
3    87.7
Name: score, dtype: float64

In [61]:
#아파트 실거래가 데이터들을 판다스 데이터프레임으로 처리 및 분석하기
import pandas as pd
import re

#판다스로 csv파일 불러오기
df = pd.read_csv('apt2308.csv', thousands=',', encoding='utf-8') #thousands는 구분자
len(df) #데이터 행의 개수
print(df)

                   시군구     번지    본번  부번            단지명    전용면적    계약년월  계약일  \
0      강원특별자치도 강릉시 견소동    202   202   0           송정한신  59.800  202308    8
1      강원특별자치도 강릉시 견소동    202   202   0           송정한신  84.945  202308   14
2      강원특별자치도 강릉시 견소동    202   202   0           송정한신  43.380  202308   30
3      강원특별자치도 강릉시 견소동    289   289   0   송정해변신도브래뉴아파트  59.990  202308   19
4      강원특별자치도 강릉시 견소동    289   289   0   송정해변신도브래뉴아파트  84.990  202308   22
...                ...    ...   ...  ..            ...     ...     ...  ...
26504     충청북도 충주시 호암동   1063  1063   0  충주호암두진하트리움아파트  66.957  202308   16
26505     충청북도 충주시 호암동   1063  1063   0  충주호암두진하트리움아파트  84.803  202308   19
26506     충청북도 충주시 호암동  547-6   547   6           호반현대  84.960  202308   12
26507     충청북도 충주시 호암동  221-1   221   1     호암리버빌(2단지)  84.680  202308   10
26508     충청북도 충주시 호암동   1191  1191   0        호암힐데스하임  84.950  202308   21

        거래금액   층    건축년도           도로명  해제사유발생일 등기신청일자  거래유형  중개사소재지
0      23000   9  1997.0   경강로2539번길 8      NaN         중개거래     강릉시
1      31000  13  1997.0   경강로2539번길 8      NaN         중개거래     강릉시
2      16400  10  1997.0   경강로2539번길 8      NaN         중개거래     강릉시
3      24500   5  2005.0  경강로2539번길 23      NaN         중개거래     강릉시
4      28500   4  2005.0  경강로2539번길 22      NaN         중개거래     강릉시
...      ...  ..     ...           ...      ...    ...   ...     ...
26504  34100  15  2019.0     호암수청2로 78      NaN         중개거래  충북 충주시
26505  41000  12  2019.0     호암수청2로 78      NaN         중개거래  충북 충주시
26506  15700   2  1994.0       신촌2길 29      NaN         중개거래  충북 충주시
26507  20700   3  2002.0      호암중앙2로 5      NaN         중개거래  충북 충주시
26508  40200  11  2019.0      호암토성2로 1      NaN         중개거래  충북 충주시

[26509 rows x 16 columns]

In [64]:
#데이터 프레임에서 앞 5개의 행을 표시하기(만약 숫자를 넣게되면 숫자 개수만큼 출력)
print(df.head())                            #print(df.head(10))
#데이터 프레임에서 뒤 5개의 행을 표시하기(만약 숫자를 넣게되면 숫자 개수만큼 출력)
print(df.tail())

               시군구   번지   본번  부번           단지명    전용면적    계약년월  계약일   거래금액  \
0  강원특별자치도 강릉시 견소동  202  202   0          송정한신  59.800  202308    8  23000
1  강원특별자치도 강릉시 견소동  202  202   0          송정한신  84.945  202308   14  31000
2  강원특별자치도 강릉시 견소동  202  202   0          송정한신  43.380  202308   30  16400
3  강원특별자치도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트  59.990  202308   19  24500
4  강원특별자치도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트  84.990  202308   22  28500

    층    건축년도           도로명  해제사유발생일 등기신청일자  거래유형 중개사소재지
0   9  1997.0   경강로2539번길 8      NaN         중개거래    강릉시
1  13  1997.0   경강로2539번길 8      NaN         중개거래    강릉시
2  10  1997.0   경강로2539번길 8      NaN         중개거래    강릉시
3   5  2005.0  경강로2539번길 23      NaN         중개거래    강릉시
4   4  2005.0  경강로2539번길 22      NaN         중개거래    강릉시
                시군구     번지    본번  부번            단지명    전용면적    계약년월  계약일  \
26504  충청북도 충주시 호암동   1063  1063   0  충주호암두진하트리움아파트  66.957  202308   16
26505  충청북도 충주시 호암동   1063  1063   0  충주호암두진하트리움아파트  84.803  202308   19
26506  충청북도 충주시 호암동  547-6   547   6           호반현대  84.960  202308   12
26507  충청북도 충주시 호암동  221-1   221   1     호암리버빌(2단지)  84.680  202308   10
26508  충청북도 충주시 호암동   1191  1191   0        호암힐데스하임  84.950  202308   21

        거래금액   층    건축년도        도로명  해제사유발생일 등기신청일자  거래유형  중개사소재지
26504  34100  15  2019.0  호암수청2로 78      NaN         중개거래  충북 충주시
26505  41000  12  2019.0  호암수청2로 78      NaN         중개거래  충북 충주시
26506  15700   2  1994.0    신촌2길 29      NaN         중개거래  충북 충주시
26507  20700   3  2002.0   호암중앙2로 5      NaN         중개거래  충북 충주시
26508  40200  11  2019.0   호암토성2로 1      NaN         중개거래  충북 충주시

In [69]:
df.시군구
df['시군구']

0        강원특별자치도 강릉시 견소동
1        강원특별자치도 강릉시 견소동
2        강원특별자치도 강릉시 견소동
3        강원특별자치도 강릉시 견소동
4        강원특별자치도 강릉시 견소동
              ...
26504       충청북도 충주시 호암동
26505       충청북도 충주시 호암동
26506       충청북도 충주시 호암동
26507       충청북도 충주시 호암동
26508       충청북도 충주시 호암동
Name: 시군구, Length: 26509, dtype: object

In [76]:
#판다스 데이터 프레임에서 조건별로 출력하기
#전용면적 값이 80이상인 것만 출력
#print(df['전용면적'] > 80)

#전용면적 값이 80이상인 것만의 데이터 출력
#print(df[df['전용면적'] > 80])

#전용면적 값이 80이상인 것만의 단지면만 출력
#print(df['단지명'][df['전용면적'] > 80])

#복합적인 조건으로 원하는 데이터만 출력하기(면적이 130m2가 넘고 가격은 3억원 미만인 것만 출력)
print(df['단지명'][(df['전용면적'] > 130) & (df['거래금액'] < 30000)])

#복합적인 조건으로 원하는 데이터만 출력하기(면적이 130m2가 넘거나(or) 가격이 3억원 미만인 것만 출력)
print(df['단지명'][(df['전용면적'] > 130) | (df['거래금액'] < 30000)])

140       현대5차
256       레이크뷰
370      라이프타운
392       현대3차
407         두산
         ...
25655       건영
25657       건영
25840       신라
25891     세원홍실
26016       동아
Name: 단지명, Length: 74, dtype: object
0                 송정한신
2                 송정한신
3         송정해변신도브래뉴아파트
4         송정해변신도브래뉴아파트
6          강릉교동롯데캐슬1단지
             ...
26499               진도
26500               진도
26503    충주호암두진하트리움아파트
26506             호반현대
26507       호암리버빌(2단지)
Name: 단지명, Length: 14054, dtype: object

In [83]:
#판다스 데이터 프레임으로 원하는 자료만 가져오기
#앞에서부터 시작해서 10개의 행 데이터와 '단지명', '거래금액' 2개의 속성값 가져오기
df.loc[:10, ['단지명', '거래금액']]

#위 데이터에서 10억원 초과하는 가격으로 거래된 아파트만 가져오기
df.loc[:, ['단지명', '거래금액']][df['거래금액'] > 100000]

                      단지명    거래금액
1191            DMC디에트르한강  129000
1192           DMC한강에일린의뜰  130000
1193           DMC한강에일린의뜰  115000
1446             일산요진와이시티  155000
1449             일산요진와이시티  102000
...                   ...     ...
20912         송도센트럴파크푸르지오  101000
20913        송도아메리칸타운아이파크  121000
20933          송도자이하버뷰2단지  160000
24887  천안 불당 지웰시티푸르지오 2단지  105000
24895            천안불당지웰더샵  110000

[1229 rows x 2 columns]

In [81]:
#판다스 데이터 프레임에 속성값 추가하기
df['단가'] = df['거래금액'] / df['전용면적']
df.loc[:10, ['거래금액', '전용면적', '단가']]

     거래금액      전용면적          단가
0   23000   59.8000  384.615385
1   31000   84.9450  364.942021
2   16400   43.3800  378.054403
3   24500   59.9900  408.401400
4   28500   84.9900  335.333569
5   32500   84.9900  382.397929
6   60000  163.9852  365.886678
7   37500   84.9855  441.251743
8   35400   66.0388  536.048505
9   31000   66.0388  469.421007
10  27500   59.8400  459.558824

In [87]:
#판다스 데이터 프레임으로 정렬하기(sort_values함수)
#거래금액 오름차순으로 정렬
#df.sort_values(by='거래금액').loc[:, ('거래금액', '시군구')]

#거래금액 내림차순으로 정렬\n",
#df.sort_values(by='거래금액', ascending=False).loc[:, ('거래금액', '시군구')]

#4억원이 넘는 아파트 중에서 전용 면적이 넓어지는 순서(오름차순)
df[df['거래금액'] > 40000].sort_values(by='전용면적').loc[:, ('거래금액', '전용면적', '시군구')]

         거래금액      전용면적              시군구
17949   51000   25.6500    서울특별시 송파구 문정동
17992   93000   27.6800    서울특별시 송파구 잠실동
17646   50500   28.8500    서울특별시 서초구 서초동
18280   47600   30.1355  서울특별시 영등포구 영등포동
18281   44000   30.2372  서울특별시 영등포구 영등포동
...       ...       ...              ...
16297  670000  244.2240    서울특별시 강남구 도곡동
16292  745000  244.6600    서울특별시 강남구 도곡동
14988  200000  244.8647     부산광역시 남구 용호동
17619  650000  244.9720    서울특별시 서초구 반포동
17638  262000  257.1200    서울특별시 서초구 방배동

[8711 rows x 3 columns]

In [89]:
#판다스 데이터 프레임에서 원하는 문자열만 찾기서 핸들링 하기
#df.head()

#시군구 컬럼에서 '강릉'이라는 단어가 포함된 데이터 행만 가져오기
#df[df['시군구'].str.contains('강릉')]

#위의 데이터 중에서 거래금액 평균값을 가져오기
df[df['시군구'].str.contains('강릉')].거래금액.mean()

21161.257575757576